* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 13px;
	margin: 0px;
	--scene-width: 22em;
	--scene-height: 29em;
	--scene-margin: .8em;
	--plot-background-color: #777777;
}

#leftContent {
	position: absolute;
	top: 0;
	width: calc(95% - 2*var(--scene-width) - 4*var(--scene-margin));
	height: 100%;
	overflow: auto;
	padding: 4em 0 0em 0;
}

#organErrorViz{
	position: relative;
	background-color: var(--plot-background-color);
	display: inline-block;
	width: calc(100% - var(--scene-width) - 4*var(--scene-margin));
	margin: var(--scene-margin);
	margin-top: 0 auto;
	height: calc( var(--scene-height) - 1.4*var(--scene-margin));
	z-index: 2;
	vertical-align: top;
	box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
}

.scatterSvg {
	z-index: 1;
}

.axis path{
	visibility: hidden;
}
.axis line{
	visibility:hidden;
}
.axis text{
	fill: white;
}

#content {
	position: absolute;
	top: 0;
	height: 100%;
	width: calc(2% + 2*var(--scene-width) + 4*var(--scene-margin));
	left: calc(95% - 2*var(--scene-width) - 4*var(--scene-margin));
	overflow-y: scroll;
	overflow-x: visible;
	padding-top: 4em;
}
#topBar{
	position: absolute;
	z-index: 3;
	padding: 5em 0 3em 0;
}

a {
	color: #0080ff;
}

#c {
	position: fixed;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
}

#dropMenu {
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.95;
	z-index: 11;
}

#loadScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1160px;
	height: 100%;
	color: #eee;
	font-family: sans-serif;
	font-weight: bold;
	font-size: large;
	text-align: center;
	background-color: rgba(68, 68, 68, 0.99);
	z-index: 100;
}

#bubbleChart {
	display: block;
	position: relative;
	z-index: 1;
	background-color: var(--plot-background-color);
	margin: var(--scene-margin);
	border: 0px solid red;
	text-align: left;
	width: calc(100% - 2em);
	height: calc(100% - var(--scene-height) - 3*var(--scene-margin));
	min-height: 280px;
	box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
}

select {
	cursor: pointer;
	color: #eee;
	background-color: rgb(50, 50, 50);
	font-family: sans-serif;
	font-size: medium;
	font-weight: lighter;
	/*text-align: center;*/
	padding: 5px 5px;
	width: 160px;
	height: 31px;
	-webkit-border-radius: 0px;
	border: 2px solid rgb(30, 30, 30);
	outline: 0px solid rgb(30, 30, 30);
	outline-offset: -2px;
}

select:active,
select:hover {
	background-color: #666;
	outline-color: #666;
	/*text-align: center;*/
}

option:checked,
option:hover {
	color: #eee;
	background-color: #666;
}

#navbar {
	position: fixed;
	opacity: 0.97;
	top: 0px;
	left: 0px;
	background-color: #444;
	border-bottom: 1px solid rgb(30, 30, 30);
	width: 100%;
	min-width: 1160px;
	/*height: 80px;*/
	height: 50px;
	z-index: 10;
	box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.7);
	text-align: center;
}
#scatterButtonContainer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: stretch;
	width: 100%;
}

.scatterButton {
  background: hsl(200, 50%, 50%) !important;
  opacity: .4;
  position: relative;
  margin: .2em;
  margin-top: .05em;
  margin-bottom: .05em;
  color: white;
  border: none;
  cursor: pointer;
  padding: .2em;
  text-align: center;
  text-decoration: none;
  border-radius: .2em;
  font-size: 1.2em;
  box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.25);
}

.clusterCurves{
	cursor: pointer; 
}

#sideMenu_button {
	display: inline-block;
	height: 31px;
	width: 100px;
	background-color: rgb(50, 50, 50);
	color: #eee;
	font-family: sans-serif;
	font-size: medium;
	cursor: pointer;
	margin-top: 0px;
	padding: 5px 5px;
	margin-left: 0px;
	user-select: none;
	border: 2px solid rgb(30, 30, 30);
}

#sideMenu_button:hover {
	background-color: #666;
	
}

#mySidenav {
	padding: 0px 15px 0px 15px;
	height: 75%;
	width: 350px;
	position: fixed;
	opacity: .97;
	top: 63px;
	right: -400px;
	background-color: #444;
	border: 1px solid rgb(30, 30, 30);
	overflow-x: hidden;
	overflow-y: auto;
	transition: 0.5s;
	padding-top: 20px;
	z-index: 15;
	box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.7);
}

#mySidenav .navText {
	padding: 8px 0px 8px 0px;
	font-family: sans-serif;
	text-decoration: underline;
	text-align: right;
	font-size: medium;
	font-weight: normal;
	color: #eee;
	display: block;
	transition: 0.3s;
}

#masterList {
	width: 100%;
	height: auto;
	border: 0px solid #333;
	font-family: sans-serif;
	text-decoration: none;
	font-size: small;
	font-weight: lighter;
	color: #eee;
	margin: 0 auto;
}

#rightContent {
	position: absolute;
	width: 5%;
	left: 97%;
	margin-left: -2%;
	height:100%;
	padding-top: 4em;
}

.colorBar{
	position: relative;
	width: calc(100% - 1em);
	height: 30vh;
	z-index: 2;
	margin-right: 1em;
	overflow: visible;
	margin-top: 3em;
}

.checkboxContainer {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}

.checkboxContainer:hover {}

.GroupChildren:nth-child(odd) {
	background-color: #3b3b3b;
}

.dummy {
	height: 15px;
	width: 100%;
}

#unitLabel {
	position: absolute;
	right: -56px;
	top: -1px;
	width: 55px;
	height: 30px;
	text-align: left;
	font-family: sans-serif;
	font-size: small;
	line-height: 30px;
	color: white;
	background-color: #444;
	padding: 0px 5px;
	z-index: 11;
	cursor: default;
	user-select: none;
}

#unitLabel2 {
	position: absolute;
	right: -56px;
	top: -1px;
	width: 55px;
	height: 30px;
	text-align: left;
	font-family: sans-serif;
	font-size: small;
	line-height: 30px;
	color: #111111;
	background-color: #a5a5a5;
	padding: 0px 5px;
	z-index: 11;
	cursor: default;
	user-select: none;
}

@media screen and (max-height: 450px) {
	.mySidenav {
		padding-top: 15px;
	}
	.mySidenav .navText {
		font-size: 18px;
	}
}

.tooltip, .bubbletooltip {
  color: white;
  position: absolute;
  padding: 3px;
  margin: 3px;
  font: 12px sans-serif;
  background-color: #444;
  border: 1px solid black;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.7);
  z-index:15;
  opacity: .95;
  pointer-events: visibleFill;
}


#details {
	position: fixed;
	display: none;
	opacity: 0.95;
	top: -500px;
	left: -500px;
	background-color: #444;
	z-index: 10;
	border: 1px solid black;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.7);
}

#details #details_organName {
	width: 100%;
	height: 25px;
	text-align: center;
	font-family: sans-serif;
	font-size: small;
	color: #eee;
	padding: 10px 0px;
	margin-right: 30px;
}

#details #details_meanDose_val {
	width: 100%;
	height: 25px;
	text-align: center;
	font-family: sans-serif;
	font-size: medium;
	color: #eee;
	padding: 9px 0px;
	margin-right: 30px;
	margin-bottom: 10px;
}

#details #details_line {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid black;
}

#details #details_table {
	margin: 0px 2px 5px 2px;
	width: 95%;
	border-collapse: collapse;
	border-top: 0px solid red;
}

#details td {
	font-family: sans-serif;
	font-size: small;
	color: #eee;
	padding: 1px 5px;
	min-width: 80px;
	border: 0px solid red;
}

#alt_details_organName {
	width: 100%;
	height: 25px;
	text-align: center;
	font-family: sans-serif;
	font-size: small;
	color: #eee;
	padding: 10px 0px;
	margin-right: 30px;
}

#alt_details_dosePerVolume {
	width: 100%;
	height: 25px;
	text-align: center;
	font-family: sans-serif;
	font-size: medium;
	color: #eee;
	padding: 9px 0px;
	margin-right: 30px;
}

#alt_details_line {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid black;
}

#alt_details_table {
	margin: 0px 2px 5px 2px;
	width: 95%;
	border-collapse: collapse;
	border-top: 0px solid red;
}

#alt_details_table td {
	font-family: sans-serif;
	font-size: small;
	color: #eee;
	padding: 1px 5px;
	border: 0px solid red;
}

.list-item {
	position: relative;
	display: inline-block;
	z-index: 1;
	margin: var(--scene-margin);
	padding: 0em;
	width: var(--scene-width);
	height: var(--scene-height);
	box-shadow: 0px 20px 10px 1px rgba(0, 0, 0, 0.25);
}

.scene {
	cursor: crosshair;
	width: 100%;
	overflow: hidden;
	height: calc(99% - 3em);
}

.patientSceneTop{
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 140px 1fr;
	grid-template-rows: 1fr;
	z-index:2;
	overflow: hidden;
}

.patientSceneTop * {
	font-family: sans-serif;
	font-size: 1.4em;
	width: 100%;
	padding: .2em;
	background-color: var(--plot-background-color);
	padding: 0 auto;
	display: inline-block;
	margin: 0 auto;
	height: inherit;
}

.sceneToggleButton{
	cursor: pointer;
	font-family: sans-serif;
	color: white;
	text-align: center;
	height:inherit;
	background-color: hsl(200, 30%, 50%);
	opacity: .4;
	margin: .05em;
	display: inline-block;
	border-radius: 8px 8px 0px 0px;
	box-shadow: .01em -.01em .05em hsl(200, 10%, 20%);
}


.description {
	grid-column-start: 1;
	grid-row-start: 1;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	cursor: pointer;
}

.pScore {
	color: #343434;
	text-align: right;
	/*margin-top: 0.5em;*/
	float: right;
}

.info {
	color: #343434;
	background-color: var(--plot-background-color);
	width: 100%;
	font-family: sans-serif;
	font-size: 1.1em;
	padding: .2em;
	overflow: hidden;
	height: 1.3em;
	display: grid;
	white-space: nowrap;
	grid-template-columns: 1fr 1fr 1fr;
}

.totDose {
	height: 100%;
	grid-column-start: 1;
}

.tVolume {
	height: 100%;
	grid-column-start: 2;
	text-align: center;
}

.laterality {
	height: 100%;
	grid-column-start: 3;
	text-align: center;
}

.hide {
	display: none !important;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
						  supported by Chrome and Opera */
}

#showHide {

	color: #444;
	font-size: 14px;
	padding: 12px;

}

#pDisplayed {

	color: rgb(100, 100, 100);
	font-size: 13px;

}

#view5 {

	text-decoration: underline;
	cursor: pointer;
}

#view5:hover {
	color: rgb(100, 100, 100);
}

#hide5 {

	text-decoration: underline;
	cursor: pointer;
}

#hide5:hover {
	color: rgb(100, 100, 100);
}

.slidecontainer {
	width: 200px;
	color: #eee;
	display: inline-block;
	transition: 0.3s;
	float: left;
	padding: 4px 0px; 
	z-index: 11;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	cursor: crosshair;
	
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 22px;
	height: 22px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(30, 30, 30);
	border-radius: 50%;
	background: rgb(50, 50, 50);
	cursor: crosshair;
}

.slider:hover::-webkit-slider-thumb {
	background: #666;
}

.slider::-moz-range-thumb {
	width: 22px;
	height: 22px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(30, 30, 30);
	border-radius: 50%;
	background: rgb(50, 50, 50);
	cursor: crosshair;
}

.dot {
	cursor: crosshair;
}
.point{
	cursor: pointer !important;
}

.dot text {
	text-anchor: middle;
	text-shadow: 0 1px 0 #a5a5a5, 1px 0 0 #a5a5a5, 0 -1px 0 #a5a5a5, -1px 0 0 #a5a5a5;
}

::-webkit-scrollbar { 
	width: 0 !important; 
	background: transparent;
}